.home-project {
    // border: 1px solid black;
    margin-bottom: 50px;

    &-header {
        padding: 10px 0 20px;
    }

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 10px;

        &-card {
            width: 47%;
            // background-color: gray;
            margin-bottom: 40px;
        }
    }

    &-moreButton {
        text-align: center;

    }
}


@media (max-width: 768px) {
    .home-project-wrapper-card {
        width: 100%;
    }
}