.TimesNewRoman {
    font-size: 18px; // 默认字体大小

    .header-font {
        color: #333;
        font: 40px 'TimesNewRoman-bold';
        font-weight: 700;
    }

    .poppins-font {
        font-family: 'TimesNewRoman';
        color: #333;
    }

    .poppins-bold {
        font-family: 'TimesNewRoman-bold';
        color: #333;
    }
}

.Poppins {
    font-size: 16px;

    .header-font {
        color: #333;
        font: 40px 'Poppins-bold';
        font-weight: 700;
    }

    .poppins-font {
        font-family: 'Poppins';
        color: #333;
    }

    .poppins-bold {
        font-family: 'Poppins-bold';
        color: #333;
    }
}

.Arial {
    font-size: 16px;

    .header-font {
        color: #333;
        font: 40px 'Arial-bold';
        font-weight: 700;
    }

    .poppins-font {
        font-family: 'Arial';
        color: #333;
    }

    .poppins-bold {
        font-family: 'Arial-bold';
        color: #333;
    }
}

.MicrosoftYaHei {
    font-size: 16px;

    .header-font {
        color: #333;
        font: 40px 'MicrosoftYaHei-bold';
        font-weight: 700;
    }

    .poppins-font {
        font-family: 'MicrosoftYaHei';
        color: #333;
    }

    .poppins-bold {
        font-family: 'MicrosoftYaHei-bold';
        color: #333;
    }
}

.Lato {
    font-size: 18px;

    .header-font {
        color: #333;
        font: 40px 'Lato-bold';
        font-weight: 700;
    }

    .poppins-font {
        font-family: 'Lato';
        color: #333;
    }

    .poppins-bold {
        font-family: 'Lato-bold';
        color: #333;
    }
}

.AtkinsonHyperlegible {
    font-size: 18px;

    .header-font {
        color: #333;
        font: 40px 'AtkinsonHyperlegible-bold';
        font-weight: 700;
    }

    .poppins-font {
        font-family: 'AtkinsonHyperlegible';
        color: #333;
    }

    .poppins-bold {
        font-family: 'AtkinsonHyperlegible-bold';
        color: #333;
    }
}

.Helvetica {
    font-size: 17px;

    .header-font {
        color: #333;
        font: 40px 'Helvetica-bold';
        font-weight: 700;
    }

    .poppins-font {
        font-family: 'Helvetica';
        color: #333;
    }

    .poppins-bold {
        font-family: 'Helvetica-bold';
        color: #333;
    }
}