// style of screen width > 1200px
.home {
    // min-height: 2000px;
    background-color: #F2F7FB;
    overflow: hidden;

    &-intro {
        position: relative;
        // border-bottom: 1px solid black;
        padding-top: 140px;
        margin-bottom: 50px;

        &-main {
            width: 570px;
            min-height: 620px;
            overflow: hidden;

            &-title {
                margin: 50px 0 20px;
            }

            &-content {
                // text-align: justify;
                line-height: 1.7;
                margin-bottom: 20px;
            }

            &-info {
                font-size: 20px;
                margin-top: 10px;
                line-height: 1.7;
            }
        }

        &-img {
            width: 672px;
            height: 620px;
            position: absolute;
            // background-color: gray;
            // border-bottom: 1px solid black;
            top: 140px;
            left: 56%;
            transition: all 0.5s ease;

            &-wrapper {
                transition: all 0.6s ease;

                &:hover {
                    transform: scale(1.06);
                }
            }

            &-wrapper1 {
                width: 420px;
                height: 484px;
                // background-color: rgba(255, 166, 0, 0.308);
            }

            &-wrapper2 {
                width: 224px;
                height: 260px;
                // background-color: rgba(255, 166, 0, 0.308);
                position: absolute;
                top: 169px;
                right: 0;
            }

            &-wrapper3 {
                width: 182px;
                height: 210px;
                // background-color: rgba(255, 166, 0, 0.308);
                position: absolute;
                top: 388px;
                right: 150px;
            }

            &-wrapper-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            }
        }
    }

    &-member {
        margin-bottom: 50px;

        &-header {
            padding: 10px 0 20px;
        }
    }
}

@media (max-width: 1200px) {
    .home-intro {
        &-main {
            width: 450px;
        }

        &-img {
            left: 52%;
        }
    }
}

@media (max-width: 992px) {
    .home {
        &-intro {
            padding: 160px 0 100px;

            &-main {
                width: 570px;
                min-height: fit-content;
            }

            &-img {
                position: relative;
                margin-top: 30px;
                top: 0;
                left: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .home {
        &-intro {
            padding: 70px 0 0;

            &-main {
                width: 510px;
            }

            &-img {
                transform: scale(0.67);
                transform-origin: top left;
                left: 20px;
            }
        }
    }
}

@media (max-width: 576px) {
    .home-intro {
        &-main {
            width: 100%;
        }

        &-img {
            transform: scale(0.6);
            left: 10px;
        }
    }
}