.publication {
    // background-color: gray;
    // padding-top: 1000px;
    // min-height: 1500px;

    &-featured {
        padding-top: 130px;

        &-header {
            padding: 10px 0 20px;
            vertical-align: baseline;

            &-title {
                display: inline;
            }

            &-button {
                cursor: pointer;
                margin-left: 50px;
            }
        }

        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 10px;
    
            &-card {
                width: 47%;
                // background-color: gray;
                margin-bottom: 40px;
            }
        }
    }

    &-list {
        margin-bottom: 50px;

        &-header {
            padding: 10px 0 20px;
        }

        &-wrapper {
            margin: 0 20px;
    
            &-li {
                list-style-type: disc;
                margin-left: 20px;
                line-height: 30px; // 28px
                margin-bottom: 12px;

                &-content {
                    &-title {
                        font-size: 20px;
                    }

                    &-info {
                        &-public {
                            color: #444;
                            margin-right: 10px;
                        }
                        &-label {
                            // line-height: 26px;
                        }
                    }

                    &-author {
                        font-size: 14px;
                        color: #666;
                        line-height: 28px;
                        margin-top: 4px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .publication-featured-wrapper-card {
        width: 100%;
    }
}