.swiper-slide {
    width: 230px !important;
    height: 230px !important;
    text-align: center;

    &>img{
        height: 200px;
        max-width: 200px;
        display: inline-block;
        vertical-align: top;
    }
    
    &>p {
        height: 30px;
        line-height: 30px;
        font-size: 18px;
    }
}