.home-news {
    // border: 1px solid black;
    margin-bottom: 50px;

    &-header {
        padding: 10px 0 20px;
    }

    &-wrapper {
        margin: 0 20px;
        // border: 1px solid black;

        &-li {
            list-style-type: disc;
            margin-left: 20px;
            line-height: 30px; // 28px
            margin-bottom: 18px;

            &-content {
                display: flex;

                &-date {
                    width: 90px;
                }

                &-text {
                    flex: 1;
                    text-align: justify;
                    // word-break: break-all;
                }
            }
        }
    }

    &-showButton {
        text-align: center;

        &-text {
            display: inline-block;
            height: 44px;
            line-height: 44px;
            padding: 0 20px;
            background-color: #fafafa;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                color: #B32F44;
            }
        }
    }
}

